@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{ 
  
    animation: filter-animation 3s infinite;
    background-color: rgb(0, 0, 0);
    font-family: orbitron, monospace;

}

#face{
    max-height: 75vh;
    padding-top: 12.5vh;
    padding-bottom: 12.5vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



@keyframes filter-animation {
    0% {
      filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(100deg);
      }
    
    50% {
      filter: hue-rotate(-160deg);
    }
    75% {
        filter: hue-rotate(135deg);
      }
    
    100% {
      filter: hue-rotate(0deg);
    }
  }

