@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{ 
  
    animation: filter-animation 3s infinite;
}

#face{
    max-height: 90vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@keyframes filter-animation {
    0% {
      filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(100deg);
      }
    
    50% {
      filter: hue-rotate(-160deg);
    }
    75% {
        filter: hue-rotate(135deg);
      }
    
    100% {
      filter: hue-rotate(0deg);
    }
  }


