@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{ 
  
    animation: filter-animation 3s infinite;
    background-color: rgb(0, 0, 0);
    background-image: url(/images/landingpage/background.jpg);
    background-size: auto 100vh;
    background-position-x: center;
    font-family: orbitron, monospace;

}

#face{
    max-height: 73vh;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#paplow {
  padding-top:5vh;
  padding-bottom:5vh;
  color:white;
  text-align:center;
  letter-spacing: .25em;
}

#paplow1 {
  padding-top:3vh;
  padding-bottom:3vh;
  font-size:3em;
  color:white;
  text-align:center;
  letter-spacing: .25em;
}

@keyframes filter-animation {
    0% {
      filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(100deg);
      }
    
    50% {
      filter: hue-rotate(-160deg);
    }
    75% {
        filter: hue-rotate(135deg);
      }
    
    100% {
      filter: hue-rotate(0deg);
    }
  }

