@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{ 
  
    animation: filter-animation 3s infinite;
    background-image: url("/images/landingpage/background.jpg");
    background-position: center;
    background-size:auto 130vh;
    background-repeat: no-repeat;
}

#face{
    max-height: 90vh;
    padding-top:10vh;
    width:auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

@keyframes filter-animation {
    0% {
      filter: hue-rotate(0deg);
    }
    25% {
        filter: hue-rotate(100deg);
      }
    
    50% {
      filter: hue-rotate(-160deg);
    }
    75% {
        filter: hue-rotate(135deg);
      }
    
    100% {
      filter: hue-rotate(0deg);
    }
  }



@-webkit-keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes ticker {
    0% {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }
    100% {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  .ticker-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 4rem;
    background-color: none;
    padding-left: 100%;
  }
  
  .ticker {
    display: inline-block;
    height: 10vh;
    line-height: 10vh;
    white-space: nowrap;
    padding-right: 100%;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 60s;
    animation-duration: 60s;
  }
  .ticker_item {
    display: inline-block;
    padding: 0 2rem;
    font-size: 2rem;
    font-family:'Share Tech Mono', monospace;
    color: rgb(255, 255, 255);
  }
  