@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

* {
    margin: 0;
    padding: 0;
}
a{
  text-decoration: none;
}

body{ 
    background-image:url(/images/main/background.jpg);
    background-size: auto 100vh;
    background-position-x: center;
    font-family: 'Play', sans-serif;

}

#topbar{
    background-color: rgb(0, 0, 0);
    min-height: 73px;
}

#topbartext{
    padding-top: 22px;
    font-family: orbitron, monospace;
    text-align:center;
    font-size: 1.5em;
    letter-spacing: .2em;
    color:white;
    
}


/* Hamboigah Navvy! */

#toggle {
    display: none;
  }
  
  .hamburger {
    position: absolute;
    top: 1em;
    right:50px;
    margin-left: -.01em;
    margin-top: -.01em;
    width: .5em;
    height: 30px;
    z-index: 5;
  }
  
  .hamburger div {
    position: relative;
    width: 2em;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(110, 71, 71);
    margin-top: 8px;
    transition: all 0.3s ease-in-out;
  }
  
  .nav {
    position: fixed;
    padding-top: 15vh;
    width: 100%;
    height: 100%;
    background-color:rgba(59, 43, 43, 0.75);
    top: -100%; left: 0; right: 0; bottom: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    transform: scale(0);
    z-index: 2;
  }
  
  .nav-wrapper {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    height: 100%;
  }
  
  nav {
    text-align: center;
    margin:auto;
  }
  
  nav a {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    padding-top: 10px;
    display: inline-block;
    margin-top: .75em;
    transition: color 0.2s ease-in-out;
    letter-spacing: .1em;
  }
  
  nav a:before {
    content: '';
    height: 0;
    position: absolute;
    width: 0.25em;
    background-color: #efeae6;
    left: -0.5em;
    transition: all 0.2s ease-in-out;
  }
  
  nav a:hover {
    color: #efeae6;
  }
  
  nav a:hover:before {
    height: 100%;
  }
  
  #toggle:checked + .hamburger .top-bun {
    transform: rotate(-45deg);
    margin-top: 25px;
  }
  
  #toggle:checked + .hamburger .bottom-bun {
    opacity: 0;
    transform: rotate(45deg);
  }
  
  #toggle:checked + .hamburger .meat {
    transform: rotate(45deg);
    margin-top: -3px;
  }
  
  #toggle:checked + .hamburger + .nav {
    top: 0;
    transform: scale(1);
  }